<div class="loading" *ngIf="loading">
  <h2 id="loading-text" class="loading_text">Chargement...</h2>
</div>
<div class="history">
  <div class="history_title">
    <img src="./assets/images/icons8-historical-64.png">
    <h4>Historique</h4>
  </div>
  <div *ngIf="loading===false && history.status==='error'">
    <p>Aucun article dans votre historique!</p>
  </div>
  <div class="history--list" *ngIf="loading===false && history.status==='success'">
    <a [href]="'/product/'+item.barcode" *ngFor="let item of history.histories" class="history--list--item">
      <div *ngIf="item.type.includes('verre')" class="history--list--item_image verre">
        <img src="./assets/images/icons8-glass-bottle-64.png">
      </div>
      <div *ngIf="item.type.includes('Textile')" class="history--list--item_image textile">
        <img src="./assets/images/icons8-textile-64.png">
      </div>
      <div *ngIf="item.type.includes('ménagères')" class="history--list--item_image menager">
        <img src="./assets/images/icons8-soda-64.png">
      </div>
      <div *ngIf="item.type.includes('recyclables')" class="history--list--item_image recyclable">
        <img src="./assets/images/icons8-plastic-bottle-64.png">
      </div>

      <div class="history--list--item_title">
        <p>{{item.name}}</p>
      </div>
    </a>
  </div>
</div>
