@import '../../assets/scss/variables';
@import '../../assets/css/flexboxgrid.min.css';


//always load this one last
@import '../../assets/scss/global';

.history {
  margin: 50px 0;
  padding: 0 20px;
  &_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & img {
      width: 50px;
      margin-right: 10px;
    }
  }
  &--counts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-block: $pad;
    &--item {
      display: flex;
      border: solid 2px black;
      padding: $rad;
      @include min-sm {
        width: 40px;
        height: 50px;
      }
      img {
        width: 30px;
        margin-right: $pad;
        @include min-sm {
          display: none;
        }
      }
      span {
        margin-block: auto;
        margin-right: $rad;
        @include min-sm {
          margin: auto;
          font-size: 18px;
        }
      }
      &.verre {
        background-color: $green;
      }
      &.textile {
        background-color: $warning;
      }
      &.menager {
        background-color: $error;
      }
      &.recyclable {
        background-color: $blue;
      }
    }
  }
  &--separator {
    height: 2px;
    background-color: rgba(0,0,0,0.1);
    border-radius: $rad;
    width: 60%;
    min-width: 270px;
    margin: $pad-double auto;
  }
  &--list {
    &--item {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: solid 2px black;
      background-color: white;
      margin: 25px auto;
      width: 50%;
      min-width: 250px;
      &_image {
        padding: 10px;
        border-right: solid 2px black;
        &.verre {
          background-color: $green;
        }
        &.textile {
          background-color: $warning;
        }
        &.menager {
          background-color: $error;
        }
        &.recyclable {
          background-color: $blue;
        }
        img {
          width: 40px;
        }
      }
      &_title {
        padding-inline: $pad-min;
      }
    }
    &--paginator {
      justify-content: center;
      display: flex;
      margin: auto;
      gap: $rad;
      max-width: 500px;
      &_item {
        width: 25px;
        padding-block: $rad;
        text-align: center;
        border: solid 2px black;
        cursor: pointer;
        background-color: $light;
        &:hover {
          filter: brightness(0.95);
        }
        &.active {
          background-color: $warning;
        }
      }
    }
  }
}

.historiqueItemText {
  width: 100%;
  text-align: center;
}
