<div id="historiqueContainer">
  <div id="historiqueTitle">
    <img src="./assets/images/icons8-historical-64.png">
    <h4>Historique</h4>
  </div>
  <div class="historiqueItem">
    <div class="historiqueItemImage">
      <img src="./assets/images/0-removebg-preview.png">
    </div>
    <div class="historiqueItemText">
      <p>Exemple 1</p>
    </div>
  </div>
  <div class="historiqueItem">
    <div class="historiqueItemImage">
      <img src="./assets/images/0-removebg-preview.png">
    </div>
    <div class="historiqueItemText">
      <p>Exemple 2</p>
    </div>
  </div>
</div>
