//LIGNE A AJOUTER A CHAQUE COMPOSANT
@import '~src/assets/scss/variables';

.demo {
  padding: 15px;
  &--box {
    background-color: darkgray;
    &_title {
      text-decoration: underline 1px;
    }
    &_content {
      color: $light;
    }
  }
}

.colors {
  display: flex;
  flex-wrap: wrap;
  &--single {
    border: 2px solid black;
    height: 120px;
    width: 120px;
    &.dark {
      background-color: $dark;
    }
    &.error {
      background-color: $error;
    }
    &.warning {
      background-color: $warning;
    }
    &.success {
      background-color: $success;
    }
    &.green {
      background-color: $green;
    }
    &.blue {
      background-color: $blue;
    }
    &.brown {
      background-color: $brown;
    }

  }
}
