<div class="container demo">
  <div class="row">
    <div class="col-xs-12 col-md-6 demo--box">
      <h3 class="demo--box_title">demo box title</h3>
      <p class="demo--box_content">check scss file for bem format</p>
    </div>
  </div>
</div>
<a href="" class="button">A TEST</a>
<a href="" class="button dark">A TEST</a>
<button>test</button>
<button class="dark">test</button>
<h1>H1 title</h1>
<h2>H2 title</h2>
<h3>H3 title</h3>
<h4>H4 title</h4>
<h5>H5 title</h5>
<h6>H6 title</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus deserunt illo impedit necessitatibus nihil porro qui rem similique ut?</p>

<h4>Colors : </h4>
<div class="colors">
  <div class="colors--single light">
    $light : #f7f6e4;
  </div>
  <div class="colors--single dark">
    $dark: #52575D;
  </div>
  <div class="colors--single error">
    $error : #F46060;
  </div>
  <div class="colors--single warning">
    $warning : #F3D179;
  </div>
  <div class="colors--single success">
    $success : #5C9627;
  </div>
  <div class="colors--single green">
    $green: #C4DFAA;
  </div>
  <div class="colors--single blue">
    $blue: #73A9AD;
  </div>
  <div class="colors--single brown">
    $brown: #C98474;
  </div>

</div>


