<div id="profilContainer">
  <img id="profilPic" src="./assets/images/defaultpp.jpg">
  <h4>Prénom Nom</h4>
  <p>adresse email</p>
  <div id="profilLinksContainer">
    <a class="profilLinks" routerLink="badge">
      <h4>0</h4>
      <p class="profilLinksText">Badges</p>
    </a>
    <a class="profilLinks" routerLink="historique">
      <h4>0</h4>
      <p class="profilLinksText">Déchets scannés</p>
    </a>
    <a class="profilLinks" routerLink="">
      <img src="./assets/images/icons8-message-64.png">
      <p class="profilLinksText">Contact</p>
    </a>
    <a class="profilLinks" routerLink="">
      <img src="./assets/images/icons8-setting-64.png">
      <p class="profilLinksText">Paramètres</p>
    </a>
  </div>
</div>
