<nav id="header">
  <div id="navContainer1">
    <div id="navLogo">
      Tri&moi
    </div>
  </div>
  <div id="navContainer2">
    <input type="checkbox" id="click" #menuCheckbox>
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="menu">
      <li><a (click)="closeMenu()" *ngIf="login" class="navMenuLinks navMenuLinkConnexion" routerLink="/auth" routerLinkActive="active"
             ariaCurrentWhenActive="page">Déconnexion</a></li>
      <li><a (click)="closeMenu()" *ngIf="!login" class="navMenuLinks navMenuLinkConnexion" routerLink="/auth" routerLinkActive="active"
             ariaCurrentWhenActive="page">Connexion</a></li>
      <li><a (click)="closeMenu()" class="navMenuLinks" id="navMenuLinkHome" routerLink="" routerLinkActive="active"
             ariaCurrentWhenActive="page">Accueil</a></li>
      <li><a (click)="closeMenu()" class="navMenuLinks" id="navMenuLinkAbout" routerLink="" routerLinkActive="active"
             ariaCurrentWhenActive="page">A propos</a></li>
      <li><a (click)="closeMenu()" class="navMenuLinks" id="navMenuLinkContact" routerLink="" routerLinkActive="active"
             ariaCurrentWhenActive="page">Contact</a></li>
    </ul>
  </div>
  <div id="navContainer3">
    <a *ngIf="!login" class="contactLinkHeader" routerLink="/auth" routerLinkActive="active"
       ariaCurrentWhenActive="page">Connexion</a>
    <a *ngIf="login" class="contactLinkHeader" routerLink="/auth" routerLinkActive="active"
       ariaCurrentWhenActive="page">Déconnexion</a>
  </div>
</nav>
