<nav id="header">
  <div id="navContainer1">
    <div id="navLogo">
      Tri&moi
    </div>
  </div>
  <div id="navContainer2">
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="menu">
      <li><a class="navMenuLinks" id="navMenuLinkConnexion" href="">Connexion</a></li>
      <li><a class="navMenuLinks" id="navMenuLinkHome" href="">Accueil</a></li>
      <li><a class="navMenuLinks" id="navMenuLinkAbout" href="">A propos</a></li>
      <li><a class="navMenuLinks" id="navMenuLinkContact" href="">Contact</a></li>
    </ul>
  </div>
  <div id="navContainer3">
    <a id="contactLinkHeader" href="">Connexion</a>
  </div>
</nav>
