<div id="badgeContainer">
  <div class="badges" *ngIf="!loading">
    <div class="badges_title">
      <img src="./assets/images/icons8-badge-53.png">
      <h4>Badges</h4>
    </div>
    <div class="badges--category" *ngFor="let category of badges">
      <div class="badges--category--item" [class.verre]="badge.badge.name.includes('verre')" [class.textiles]="badge.badge.name.includes('textile')" [class.recyclables]="badge.badge.name.includes('recyclable')" [class.menageres]="badge.badge.name.includes('ménagères')" *ngFor="let badge of category ,let index = index">
        <p>{{badge.badge.name}} : {{badge.level.name}}</p>
        <div [class.done]="badge.scanNumber>=badge.level.goal" class="badges--category--item_medal">

        </div>
        <div [class.done]="badge.scanNumber>=badge.level.goal" class="badges--category--item--bar">
          <div class="badges--category--item--bar_percentage" [style]="{width: (badge.scanNumber/badge.level.goal)*100+'%'}">
            <p>{{badge.scanNumber}}/{{badge.level.goal}}</p>
          </div>
          <div *ngIf="badge.scanNumber>=badge.level.goal" class="badges--category--item--bar_medal">

          </div>
        </div>
      </div>
    </div>

<!--    <div class="badges&#45;&#45;category verre" *ngIf="badges['verre']">-->
<!--      <div class="badges&#45;&#45;category&#45;&#45;item" class="" *ngFor="let badge of badges['verre']">-->
<!--        <p>{{badge.badge.name}} : {{badge.level.name}}</p>-->
<!--        <div [class.done]="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar">-->
<!--          <div class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_percentage" [style]="{width: (badge.scanNumber/badge.level.goal)*100+'%'}">-->
<!--            <p>{{badge.scanNumber}}/{{badge.level.goal}}</p>-->
<!--          </div>-->
<!--          <div *ngIf="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_medal">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="badges&#45;&#45;category recyclables" *ngIf="badges['recyclables']">-->
<!--      <div class="badges&#45;&#45;category&#45;&#45;item" class="" *ngFor="let badge of badges['recyclables']">-->
<!--        <p>{{badge.badge.name}} : {{badge.level.name}}</p>-->
<!--        <div [class.done]="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar">-->
<!--          <div class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_percentage" [style]="{width: (badge.scanNumber/badge.level.goal)*100+'%'}">-->
<!--            <p>{{badge.scanNumber}}/{{badge.level.goal}}</p>-->
<!--          </div>-->
<!--          <div *ngIf="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_medal">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="badges&#45;&#45;category textiles" *ngIf="badges['textiles']">-->
<!--      <div class="badges&#45;&#45;category&#45;&#45;item" class="" *ngFor="let badge of badges['textiles']">-->
<!--        <p>{{badge.badge.name}} : {{badge.level.name}}</p>-->
<!--        <div [class.done]="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar">-->
<!--          <div class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_percentage" [style]="{width: (badge.scanNumber/badge.level.goal)*100+'%'}">-->
<!--            <p>{{badge.scanNumber}}/{{badge.level.goal}}</p>-->
<!--          </div>-->
<!--          <div *ngIf="badge.scanNumber>=badge.level.goal" class="badges&#45;&#45;category&#45;&#45;item&#45;&#45;bar_medal">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</div>
