@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;800&display=swap');

//Colors
$light : #F5F0BB;
$error : #F46060;
$warning : #F3D179;
$success : #C4DFAA;


$rad : 5px;
$rad-double : 10px;
$pad: 25px;
$pad-min: 15px;
$pad-double: 50px;
$pad-large: 35px;

//responsive breakpoints
$screen-sm:481px;
$screen-md:768px;
$screen-lg:992px;
$screen-xl:1200px;

@mixin min-sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin min-md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin min-lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin min-lg {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}


