@import '~src/assets/scss/variables';
@import '../../assets/scss/global';

.scanner_title,
#searchBarCodeContainer {
  margin: 50px 0;
  padding: 0 20px;
}


#searchBarCodeContainer p,
#searchBarCodeContainer input {
  margin-bottom: 20px;
}

#scannerContainer {
  background-color: $black;
  padding: 50px;
}

.scanner {
  &-feed {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  &_error {
    width: 100%;
    background-color: $error;
    padding-block: $pad;
    margin-top: $pad;
    p {
      text-align: center;
    }
  }
  &_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
      width: 50px;
      margin-right: 10px;
    }
  }
  &-dashboard {
    margin: 50px auto;
    width: 50%;
    min-width: 300px;
    text-align: start;
    @include min-sm {
      text-align: center;
    }
    img,select {
      margin-block: $pad;
    }
    button {
      @include min-sm {
        margin-inline: auto;
      }
    }
  }
}


#searchBarCodeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
