<div id="mapContainer">
  <div id="locationSearch">
    <img src="./assets/images/icons8-search-100.png">
    <input type="text" placeholder="RECHERCHE">
    <img src="./assets/images/icons8-location-80.png">
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div id="binFilter">
    <button id="glassFilter" class="binType">
      <img src="./assets/images/icons8-glass-bottle-64.png">
    </button>
    <button id="plasticFilter" class="binType">
      <img src="./assets/images/icons8-plastic-bottle-64.png">
    </button>
    <button id="metalFilter" class="binType">
      <img src="./assets/images/icons8-soda-64.png">
    </button>
    <button id="cardboardFilter" class="binType">
      <img src="./assets/images/icons8-cardboard-64.png">
    </button>
    <button id="paperFilter" class="binType">
      <img src="./assets/images/icons8-paper-stack-64.png">
    </button>
    <button id="trashFilter" class="binType">
      <img src="./assets/images/icons8-bin-64.png">
    </button>
  </div>
</div>
