@import '../../assets/scss/variables';
@import '../../assets/css/flexboxgrid.min.css';


//always load this one last
@import '../../assets/scss/global';




.map-container {
  height: 69vh;
  position: relative;
  .map-frame {
    height: 100%;
    #map {
      height: 100%;
      z-index: 1;
    }
  }
}


#locationSearch {
  position: relative;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px $black;
  padding: 0 50px;
  @include min-md {
    padding: 0 20px;
  }
  >img {
    cursor: pointer;
  }
  .autocomplete {
    position: absolute;
    z-index: 2;
    background-color: $light;
    top: 100%;
    width: calc(100% - 100px);
    max-height: 200px;
    overflow: auto;
    border-bottom: solid 2px $black;
    border-left: solid 2px $black;
    border-right: solid 2px $black;
    @include min-md {
      width: calc(100% - 40px);
    }
    &--single {
      display: flex;
      flex-direction: row;
      padding: $pad-min 0;
      border-top: solid 1px $black;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        background-color: $green;
      }
      &_image {
        margin-left: 2px;
        width: 21px;
      }
      p {
        margin: auto $rad;
      }
    }
  }
  img {
    width: 20px;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    &::placeholder {
      color: #161616;
    }
    &:focus {
      outline: none;
    }
  }
}

#scannerButton {
  background-color: $light;
  border: solid 2px $black;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  img {
    width: 30px;
  }
}

#binFilter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  overflow: auto;
  .binType {
    background-color: $light;
    border-top: solid 2px $black;
    border-right: solid 2px $black;
    border-left: none;
    border-bottom: none;
    min-width: 75px;
    min-height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:last-child {
      border-right: none;
    }
    img {
      width: 25px;
    }
    &#glassFilter:hover,
    &#glassFilter.active{
      background-color: $green;
    }
    &#plasticFilter:hover,
    &#plasticFilter.active{
      background-color: $blue;
    }
    &#householdFilter:hover,
    &#householdFilter.active{
      background-color: $error;
    }
    &#textileFilter:hover,
    &#textileFilter.active{
      background-color: $warning;
    }
    &#trashFilter:hover{
      background-color: $dark;
    }
  }
}
