@import '../../assets/scss/variables';
@import '../../assets/css/flexboxgrid.min.css';

#produitContainer {
  margin: 50px auto;
  width: 50%;
  min-width: 300px;
  text-align: center;
  @include min-sm {
    text-align: start;
  }
}

#produitImageContainer {
  background-color: $warning;
  border: solid 2px $black;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 150px;
  }
}

.button {
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#produitImageContainer,
h4,
p,
button {
  margin-bottom: 30px;
}
