@import 'assets/scss/variables';
@import 'assets/css/flexboxgrid.min.css';
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.css";

//always load this one last
@import 'assets/scss/global';



//INPUT / LABEL

input {
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #161616;
  padding-bottom: 10px;
}

input::placeholder {
  color: #161616;
}

input:focus {
  outline: none;
}

//BUTTONS

.button {
  border: none;
  width: 205px;
  height: 50px;
  padding: 10px 30px;
  transition: all .5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-position: left bottom;
  }
}

.button:hover .buttonGreenText {
  color: $white;
}

.button:hover .buttonBlackText {
  color: $black;
}

.buttonGreen {
  background: linear-gradient(to right, $black 50%, $green 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.buttonRed {
  background: linear-gradient(to right, $error 50%, $black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.buttonBlack {
  background: linear-gradient(to right, $green 50%, $black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.buttonGreenText,
.buttonBlackText,
.buttonRedText {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  transition: all .6s ease-out;
  display: block;
}

.buttonGreenText {
  color: $black;

}

.buttonBlackText,
.buttonRedText {
  color: $white;
}

//HEADER

nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  border-bottom: solid 2px $black;
  padding: 0 50px;
  @include min-md {
    padding: 0 20px;
  }
}

#navLogo a {
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;

}

#navContainer1,
#navContainer2,
#navContainer3 {
  width: calc(100% / 3);
}

#navContainer2 {
  min-width: 400px;
  @include  min-lg {
    min-width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

#navContainer2 .profilLinkHeader {
  display: none;
  @include min-lg {
    display: block;
    margin-right: 10px;
  }
}

#navContainer1,
#navContainer3 {
  display: flex;
  align-items: center;
}

#navContainer3 {
  justify-content: flex-end;
  @include min-lg {
    display: none;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include min-lg {
    position: fixed;
    //top: 100px;
    //left: -100%;
    top: -100%;
    width: 100%;
  }
}

nav ul li {
  margin: 0 5px;
  @include min-lg {
    width: 100%;
    margin: 0;
  }
}

nav ul li a,
nav ul li a:hover,
nav ul li a:active,
.contactLinkHeader {
  padding: 10px 20px;
}

nav ul li a {
  border: solid 2px transparent;
  @include min-lg {
    width: 100%;
    font-size: 20px;
    margin-left: -100%;
    display: block;
  }
}

nav ul li a:hover,
nav ul li a:active,
.contactLinkHeader {
  border: solid 2px $black;
}

#navMenuLinkHome:hover {
  background-color: $warning;
}

#navMenuLinkAbout:hover {
  background-color: $error;
}

#navMenuLinkContact:hover {
  background-color: $blue;
}

#navMenuLinkHome {
  @include min-lg {
    background-color: $warning;
  }
}

#navMenuLinkAbout {
  @include min-lg {
    background-color: $error;
  }
}

#navMenuLinkContact {
  @include min-lg {
    background-color: $blue;
  }
}

.navMenuLinkConnexion {
  display: none;
  @include min-lg {
    display: block;
    background-color: $green;
  }
}

.profilLinkHeader img {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border: solid 2px black;
  border-radius: 100%;
}

.contactLinkHeader {
  background-color: $green;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

nav .menu-btn i {
  display: none;
  @include min-lg {
    display: block;
    margin-left: 15px;
    font-size: 35px;
  }
}

nav .menu-btn i,
input[type="submit"] {
  cursor: pointer;
  @include min-lg {
    display: flex;
    justify-content: flex-end;
  }
}

input[type="checkbox"] {
  display: none;
}

#click:checked ~ .menu-btn i:before {
  @include min-lg {
    content: "\f00d";
  }
}

#click:checked ~ ul {
  @include min-lg {
    left: 0px;
    top: 80px;
  }
}

#click:checked ~ ul li a {
  @include min-lg {
    margin-left: 0px;
    border-bottom: solid 2px $black;
  }
}

//FOOTER

#footer {
  border-top: solid 2px $black;
  width: 100%;
}

#footerLogo {
  font-size: 20px;
  padding: 20px 50px;
  @include min-md {
    padding: 20px 20px;
  }
}
