<div *ngIf="loading" class="loading">
  <h2 id="loading-text" class="loading_text"></h2>
</div>
<div class="product" *ngIf="!productError.status">
  <div class="product--container">
    <p class="product--container_name">{{product.name}}</p>
    <img class="product--container_image" *ngIf="product.image" [src]="product.image" [class.verre]="product.type.includes('verre')" [class.textile]="product.type.includes('Textile')" [class.recyclable]="product.type.includes('recyclables')" [class.menager]="product.type.includes('ménagères')" alt="Photo du produit({{product.name}})">
    <p class="product--container_info">
      {{product.type}} :
    </p>
    <a [class.verre]="product.type.includes('verre')" [class.textile]="product.type.includes('Textile')" [class.recyclable]="product.type.includes('recyclables')" [class.menager]="product.type.includes('ménagères')" [href]="'/?filter='+product.type">{{trashType}}</a>
  </div>
</div>

<div *ngIf="productError.status">
  Erreur : {{productError.message}}
</div>

