<div *ngIf="loading" class="loading">
  <h2 id="loading-text" class="loading_text"></h2>
</div>
<div class="formContainer">
  <h3 *ngIf="!step">Rentrer votre Email</h3>
  <h3 *ngIf="stepLogin">Rentrer votre mot de passe</h3>
  <h3 *ngIf="stepRegister">Inscrivez-vous!</h3>

  <form action="" (submit)="submit()">
    <app-error-box *ngIf="errors.email" class="error-box" [error]="errors.email"></app-error-box>
    <label class="formLabel" for="email">E-mail : </label>
    <input [(ngModel)]="formData.email" [readonly]="step" type="text" name="email" id="email" placeholder="Email">
    <button type="button" *ngIf="!step" (click)="toggleStep()" class="button buttonBlack">
      <div class="buttonBlackText">Suivant</div>
    </button>


    <!-- TODO: LOGIN  -->

    <div *ngIf="stepLogin">
      <label class="formLabel" for="passwordLogin">Mot de passe : </label>
      <app-error-box *ngIf="errors.password" class="error-box" [error]="errors.password"></app-error-box>
      <input [(ngModel)]="formData.passwordLogin" class="input" type="text" name="passwordLogin" id="passwordLogin"
             placeholder="Mot de passe">
      <div class="container-button" style="display: flex">
        <button type="button" *ngIf="step" (click)="toggleStep()" class="button buttonBlack">
          <div class="buttonBlackText">Retour</div>
        </button>
        <button type="button" (click)="submit()" class="button buttonGreen">
          <div class="buttonGreenText">Connexion</div>
        </button>
      </div>
    </div>

    <!--  TODO: REGISTER  -->

    <div *ngIf="stepRegister">
      <app-error-box *ngIf="errors.passwordDouble" class="error-box" [error]="errors.passwordDouble"></app-error-box>
      <app-error-box *ngIf="errors.password" class="error-box" [error]="errors.password"></app-error-box>
      <app-error-box *ngIf="errors.general" class="error-box" [error]="errors.general"></app-error-box>
      <input [(ngModel)]="formData.passwordRegister" class="input" type="password" name="passwordRegister"
             id="passwordRegister" placeholder="Mot de passe">
      <input [(ngModel)]="formData.passwordRegisterConfirm" class="input" type="password" name="passwordRegister"
             id="passwordRegisterConfirm" placeholder="Confirmer votre mot de passe">
      <input [(ngModel)]="formData.firstName" class="input" type="text" name="firstName"
             id="firstName" placeholder="Prénom">
      <input [(ngModel)]="formData.lastName" class="input" type="text" name="lastName"
             id="lastName" placeholder="Nom">
      <div class="container-button" style="display: flex">
        <button type="button" *ngIf="step" (click)="toggleStep()" class="button buttonBlack">
          <div class="buttonBlackText">Retour</div>
        </button>
        <button type="button" (click)="submit()" class="button buttonGreen">
          <div class="buttonGreenText">Inscription</div>
        </button>
      </div>
    </div>
  </form>
</div>
