@import '~src/assets/scss/variables';
@import '../../assets/scss/global';
@import '../../assets/scss/form';

form {
  .error-box {
    margin: auto auto 20px;
    width: 100%;
  }

  .input {
    width: 100%;
    margin: 20px auto 20px;
  }
  .container-button {
    display: flex;
    margin-top: 20px;
  }
}

label[for=birthday],
label[for=profilePic] {
  display: block;
  margin-bottom: 10px;
}
