<h3>Inscription</h3>

<form action="" (submit)="submitRegister()">
  <app-error-box *ngIf="errors.email" class="error-box" [error]="errors.email"></app-error-box>
  <label  for="email">E-mail : </label>
  <input [(ngModel)]="formData.email" [readonly]="step2" type="text" name="email" id="email" placeholder="Email">
  <button type="button" [class.hidden]="step2" (click)="toggleStep2()" class="button buttonBlack">
    <div class="buttonBlackText">Suivant</div>
  </button>
  <div class="step2" [class.hidden]="!step2">
    <button type="button" (click)="toggleStep2()" class="button buttonBlack">
      <div class="buttonBlackText">Retour</div>
    </button>
    <app-error-box *ngIf="errors.name" class="error-box" [error]="errors.name"></app-error-box>
    <div class="step2--segment">
      <div class="step2--segment_side">
        <label for="firstName">Prénom : </label>
        <input [(ngModel)]="formData.firstName" type="text" name="firstName" id="firstName" placeholder="Prénom">
      </div>
      <div class="step2--segment_side">
        <label for="lastName">Nom : </label>
        <input [(ngModel)]="formData.lastName" type="text" name="lastName" id="lastName" placeholder="Nom">
      </div>
    </div>

    <app-error-box *ngIf="errors.password" class="error-box" [error]="errors.password"></app-error-box>
    <label for="password">Password : </label>
    <input [(ngModel)]="formData.password" type="password" name="password" id="password" placeholder="Mot de passe">

    <label for="birthday">Date de naissance</label>
    <input [(ngModel)]="formData.birthday" type="date" name="birthday" id="birthday" placeholder="Date de naissance">
    <app-error-box *ngIf="errors.profilePic" class="error-box" [error]="errors.profilePic"></app-error-box>

    <label for="profilePic">Photo de profil</label>
    <input accept="image/*" [(ngModel)]="formData.profilePic" type="file" name="profilePic" id="profilePic" placeholder="Photo de profil">
    <button type="submit" class="button buttonGreen">
      <div class="buttonGreenText">S'inscrire</div>
    </button>
  </div>

</form>
